@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-white text-black;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

html,
body {
  overflow-y: scroll;
}
